/*  your css code here. If applicable */
header{
                background-color: #011e29;
                color: white;
                font-size: 50px;
                text-align: center;
            }
            .latest-news-section{
                background-color: white;
                padding-left: 20px;
            }
            .pictorial-news-section{
                background-color: white;
                padding-left: 20px;
				text-align: center;
            }
